  .header {
      margin-left: 5%;
  }
  
  .header_top {
    width: 300px;
  }
  
  
  .price {
    color: green;
  }
  
  .title {
    font-weight: bold;
  }
  
  .price-range-input {
    width: 100px;
    margin: 0px 15px 0px 15px;
  }
  
  .left-sidebar {
    margin-top: 50px;
    margin-left: 100px;
  }
  
  .mat-raised-button {
    background-color: black;
    color:white;
    width: 40% !important;
  }
  
  .apply-button {
    margin:10% 20%;
    width: 10%;
  }

  .features_items {
    margin-top: 30px;
    margin-right: 200px;
  }

  .pagination {
    margin: 20px 0px 50px 50% !important;
  }

  .pagination-button {
    width: 40% !important;
  }





