.price{
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
    color: green;
    margin-left: 20px;
  }

  .description {
    margin-top: 40px;
  }

  .container {
    margin-top: 100px;
  }

  .mat-raised-button {
    background-color: black !important;
    color: white;
    width: 75%;
   }